<header>
  <nav class="onlyDesktop">
    <p (click)="scrollToAnchor('ArtTherapy')" class="onlyDesktop">Art thérapie</p>
    <p (click)="scrollToAnchor('Faq')">FAQ</p>
    <a [routerLink]="['/blog']"><p class="blogUnavailable onlyDesktop">
      Blog
    </p></a>
  </nav>

  <div id="circle"></div>

  <div id="pageTitle" routerLink="/">
    <h1>Art thérapie</h1>
    <h2>Sandra Thooris</h2>
  </div>


  <nav class="onlyDesktop">
    <!-- <img
      src="instagramIcon.svg"
      class="socialIcons onlyDesktop"

    />

    <img
      src="facebookIcon.svg"
      class="socialIcons onlyDesktop"
    /> -->

    <button class="blueButton" (click)="scrollToAnchor('bookACall')">Réserver une séance</button>
  </nav>
</header>
