<header>
  <nav>
    <p (click)="scrollToAnchor('ArtTherapy')" class="onlyDesktop">Art thérapie</p>
    <p (click)="scrollToAnchor('Faq')" class="onlyDesktop">FAQ</p>
    <p (click)="scrollToAnchor('LastBlogArticles')">Blog</p>
  </nav>

  <div id="circle"></div>
  <h1>Sandra Thooris</h1>


  <nav>
    <img
      src="instagramIcon.svg"
      class="socialIcons onlyDesktop"

    />

    <img
      src="facebookIcon.svg"
      class="socialIcons onlyDesktop"
    />

    <button class="blueButton" (click)="scrollToAnchor('bookACall')">Réserver</button>
  </nav>
</header>
