<div id="MentionsLegales">


<h1>Mentions légales</h1>
<p>En vigueur au 17/04/2025</p>

<p>Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la Confiance en l’économie numérique, il est porté à la connaissance des utilisateurs et visiteurs, ci-après l' "Utilisateur", du site https://sandra-arttherapie.fr , ci-après le "Site", les présentes mentions légales.</p>

<p>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>

<p>Ces dernières sont accessibles sur le Site à la rubrique "Mentions légales".</p>

<h3>Édition du site</h3>

<p>L'édition du Site est assurée par la société Sandra Thooris, auto-entreprise, immatriculée au Registre du Commerce et des Sociétés de COUDEKERQUE BRANCHE sous le numéro 940796295 dont le siège social est situé au 60 rue Armand Guillaumin 59210 Coudekerque-Branche </p>
<ul>
  <li>Numéro de téléphone : 0781657719</li>
  <li>Adresse e-mail : contact&#64;sandra-arttherapie.fr</li>
  <li> Directeur de la publication : Sandra Thooris</li>
</ul>

<p>Ci-après "l'Éditeur"</p>

<h3>Hébergeur</h3>

<p>L'hébergeur du Site est la société Planet Hoster, dont le siège social est situé au  4416 Louis B. Mayer  Laval (Québec, Canada) . Le numéro de téléphone de l'hébergeur est le 33176604143.</p>

<h3>Accès au site</h3>

<p>Le Site est normalement accessible, à tout moment, à l'Utilisateur. Toutefois, l'Editeur pourra, à tout moment, suspendre, limiter ou interrompre le Site afin de procéder, notamment, à des mises à jour ou des modifications de son contenu. <br/>L'Editeur ne pourra en aucun cas être tenu responsable des conséquences éventuelles de cette indisponibilité sur les activités de l'Utilisateur.</p>

<h3>Données personnelles et confidentialité</h3>

<p>Le site ne collecte pas de données personnelles sans votre consentement.<br/>Des services externes peuvent, dans certains cas, collecter ou traiter des données personnelles lorsque vous interagissez avec eux via le site :</p>
<ul>
  <li>PlanetHoster, l’hébergeur du site, peut enregistrer automatiquement certaines données techniques comme votre adresse IP, à des fins de sécurité, de maintenance ou de bon fonctionnement du site. Ces données ne sont pas exploitées par la responsable du site.
  </li>
  <li>Calendly, si vous utilisez l’outil de prise de rendez-vous, collecte les informations que vous y renseignez (nom, adresse email, etc.) uniquement dans le cadre de la gestion des rendez-vous. Ces données sont directement traitées par Calendly, conformément à leur politique de confidentialité.</li>
</ul>

<p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez d’un droit d’accès, de rectification et de suppression des données vous concernant. Vous pouvez exercer ces droits en envoyant un email à l’adresse suivante : contact&#64;sandra-arttherapie.fr.</p>


</div>
