#Intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:100px 0;
  position: relative;
}

#Intro #textDiv  {
  width:60%;
  min-width: 550px;
  position: relative;
}

#Intro #textDiv #container {
  position: relative;
  margin:auto;
  max-width: 50%;
  min-width: 400px;
}

#Intro #illu {
  width: 40%;
  margin-right: -60px;
  transform: rotate(-2.5deg);
  z-index: 1;
}

#Intro #circle {
  position: absolute;
  top:15vh;
  left:-100px;
  height: 650px;
  width: 325px;
  border-radius: 0 325px 325px 0;
  background-color: #B2F8B4;
  z-index: 0;
}

#Intro #triangle {
  position: absolute;
  z-index:0;
  top: -200px;
  left:65vw;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 450px 800px 450px;
  border-color: transparent transparent #B2F8B4 transparent;
  transform: rotate(348deg);
}

#Intro #arrow {
  position: absolute;
  left:-10%;
  z-index: 0;
  width: 60%;
  top:60%;
}


@media screen and (max-width:1200px) {
  #Intro #arrow {
    top:70%;
  }
}

@media screen and (max-width:600px){
  #Intro {
    display: block;
    margin-top: 30px;
  }

  #Intro #circle {
    visibility: hidden;
  }

  #Intro #triangle {
    top:-150px;
    left:50px;
    border-width: 0 350px 600px 350px;
  }

  #Intro #textDiv {
    min-width: 80%;
    width:80%;
    margin: auto;
  }

  #Intro #textDiv #container {
    max-width: 100%;
    min-width: 100%;
  }

  #Intro #arrow {
    /* top:100%;
    left:-80px;
    width:100%; */
    visibility: hidden;
  }

  #Intro #illu {
    width: 80%;
    margin-left: 20%;
    position: relative;
    right:-20px;
    top:50px;
    transform: rotate(8deg);
  }
}
