form {
  margin : 150px auto;
  width: 40%;
}

form *{
  display: block;
}

form label{
  /* width: 40%; */
  margin: 40px auto;
}

input, textarea {
  width: 100%;
  margin:10px 0;
  padding:10px;
}

textarea {
  min-height: 200px;
}

