<footer>
  <div>
    <div id="inline">
      <h2>Sandra Thooris</h2>
      <a href="mailto:contact@sandra-arttherapie.fr">contact&#64;sandra-arttherapie.fr</a>
    </div>

    <app-contact-buttons></app-contact-buttons>

    <p>Copyright 2025 &#64;Sandra Thooris - Site réalisé par Orlane Brun</p>
  </div>

  <div id="rightDiv">
    <button class="blueButton" (click)="goToTop()">Retour en haut</button>

    <p>
      <a routerLink="/mentions-legales">Mentions légales</a> -
      CGV
    </p>

  </div>
</footer>
