footer {
  display: flex;
  align-items: center;
  background-color: #B2F8B4;
  justify-content: space-between;
  width:calc(100% + 110px);
  margin-left:-55px;
  padding:20px 50px;
  box-sizing:border-box;
}

footer #inline {
  display: flex;
  align-items: center;
}

footer #inline * {
  color: #472BEA;
  margin : 0 15px 0 0;

}

footer div:last-child{
  text-align: right;
}

@media screen and (max-width:600px){
  footer {
    display: block;
    padding:20px 70px;
  }

  footer #inline {
    display: block;
    margin: 30px 0;
  }


  footer #rightDiv {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
  }

  footer #rightDiv button {
    margin: 30px 0;
  }

  footer p {
    margin:5px 0;
  }
}

