<div id="LastBlogArticles">

  <h2 class="onlyMobile">Le dernier article du blog</h2>

  <div id="LastArticle">
    @if(lastArticle){
      <h3>{{lastArticle.title}}</h3>
      <p class="date">{{lastArticle.date}}</p>
      <p [innerHTML]="lastArticle.content.substring(0,500)+'...'"></p>
      <button class="blueButton">Lire plus</button>
    }

  </div>

  <div id="OtherArticles">
    <img src="arrow2.svg" class="onlyDesktop"/>
    <h2 class="onlyDesktop">Le dernier article du blog</h2>
    <h3>À voir aussi...</h3>
    <ul>
      @if(articles.length>0){
        <li [innerHTML]="articles[0].title"></li>
        <li [innerHTML]="articles[1].title"></li>
        <li [innerHTML]="articles[2].title"></li>
      }

    </ul>
  </div>


  <img src="groupForms2.svg" id="background"/>
</div>
