#LastBlogArticles {
  display: flex;
  position: relative;
  margin-bottom :250px;
  gap:150px;
  align-items: center;
  justify-content: space-between;
}

#LastBlogArticles #LastArticle {
  background-color: white;
  width : 30%;
  padding:40px;
  margin-left:5%;
  border-radius: 30px;
}

#LastBlogArticles #LastArticle .date {
  color: rgb(152, 152, 152);
}

#LastBlogArticles #OtherArticles {
  margin-right:15%;
  width:25%;
  position: relative;
}


#LastBlogArticles #OtherArticles li {
  margin: 15px 0;
  cursor: pointer;
}

#LastBlogArticles #OtherArticles li:hover{
  font-weight: 600;
  color: #472BEA ;
  text-decoration: underline solid #472BEA;
}

#LastBlogArticles #OtherArticles img {
  position: absolute;
  left:-60%;
  top:-5%;
  transform: rotate(15deg) translateX(-60%)translateY(20%);
}

#LastBlogArticles #background {
  position: absolute;
  width:60vw;
  max-height:200%;
  min-height: 100%;
  z-index: 0;
  left:-65px;
  transform: translateY(10%);
}

.onlyMobile {
  display: none;
}

@media screen and (max-width:600px){
  #LastBlogArticles {
    display: block;
    margin-bottom: 100px;
  }

  #LastBlogArticles #background {
    min-height:fit-content;
    width:250%;
    left:-25%;
    top:-150px;
    z-index: 0;
  }

  #LastBlogArticles #LastArticle {
    padding: 0;
    width:80%;
    margin: auto;
    z-index: 1;
    position: relative;
    padding:5%;
  }

  #LastBlogArticles h2 {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }

  #LastBlogArticles #OtherArticles {
    width: 80%;
    margin: 150px auto 0 auto;

  }


  .onlyDesktop {
    display: none;
  }

  .onlyMobile {
    display: block;
  }
}
