<div id="bookACall">
  <div id="text">
    <h2>Réserve ta séance</h2>

    @for (info of infos;track info.id){
      <div class="inlineInfo">
        <img [src]="info.image+'.svg'">
        <p [innerHTML]="info.text"></p>
      </div>
    }

    <button class="pinkButton">Contact</button>

  </div>

  <div id="calendlyWidget">
    <!-- Début de widget en ligne Calendly -->
    <div class="calendly-inline-widget"
         data-url="https://calendly.com/sandra-thooris/appel-decouverte"
         style="max-width:600px;height:600px;margin: auto;border-radius: 8px; padding: 10px; background-color: white;">
    </div>
    <!-- Fin de widget en ligne Calendly -->

    <img src="groupForms.svg" />


  </div>
</div>
